[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
factory-boy = "*"
djangorestframework = "*"
psycopg2 = "*"
markdown = "*"
django-stubs = "*"
django-cors-headers = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.10"
